<% layout('partials/userProfile') %>

  <div class="container">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">ANALYSIS REPORT is not available</h4>
      <p class="lead">Please fill Student-Faculty Ratio and Faculty Qualification details to get insights about your
        institution's Faculty Information and Contributions</p>
      <hr>
      <p class="mb-0">Click on below button to fill the form</p>
      <br>
      <a href="/sfrform" class="btn btn-dark">Fill Information</a>
    </div>
  </div>