<% layout('partials/userProfile') %>

  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">You have booked an expert visit. We are looking into your request.</h4>
      <p class="lead">We received your Expert-Visit request. Our expert will contact you as soon as possible.</p>
      <hr>
      <p class="mb-0">All the best! and thank you for your patience.</p>
      <br>
    </div>
  </div>