<% layout('partials/userProfile') %>

  <div class="container">
    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading">Wondering if your laboratories are up to NBA's Standards</h4>
      <h4 class="alert-heading">Don't Worry We Got Your back!!</h4>
      <p class="lead">Our NBA experts are there to help you out. Experts will visit your lab facilities and will answer
        all your queries.
        <br>
        Please fill the following details to schedule expert
        visit to your institution.
      </p>
      <hr>
      <p class="mb-0">Click below button to book an expert visit</p>
      <p class="mb-0">Note - Fill the Laboratory Details before booking Expert Visit. It will help expert to study your
        case beforehand.</p>
      <br>
      <form class="" action="/labvisit" method="post">
        <button type="submit" class="btn btn-dark">Book an Expert Visit</button>
        <br>
      </form>

    </div>
  </div>